@{ ViewData["Title"] = "ViewMembershipAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    .searchBox {
        background-color: lightgrey;
        padding: 10px;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <h3 class="card-title">Members Attendance</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 row searchBox">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Branch</label>
                                <div class="col-md-12 col-sm-12 ">
                                    <select class="form-control" id="Branch"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="input-group date col-md-12 col-sm-12" id="date" data-target-input="nearest">
                                    <input type="text" id="AttendDate" class="form-control datetimepicker-input" data-target="#date" data-toggle="datetimepicker" />
                                    <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="padding-top:30px">
                            <div class="form-group">
                                <button type="button" id="btnSearch" class="btn btn-secondary col-md-12 col-sm-12"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="col-md-5" style="padding-top:9px; padding-left:20px;">
                        <div class="form-group">
                            <label>Filter details</label>
                            <div class="row col-md-12 col-sm-12">
                                <div class="col-md-5 col-sm-5">
                                    <select class="form-control" id="SearchOptions"></select>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <input type="text" id="ValueforSearch" class="form-control" placeholder="Enter search value">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer table-responsive">
                <b><span id="membersCount" style="color: red; display: none; font-weight: bold;"></span></b>
                <table id="example1" class="table table-bordered table-striped tblMember">
                    <thead>
                        <tr>
                            <th>MemberShip Id</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Morning Time</th>
                            <th>Evening Time</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyid">
                    </tbody>
                </table>
                <div class="msg-block" id="noRecords">
                    <label>No Records found.</label>
                </div>
            </div>
            <div id="wait" class="loading-gif"><img src="~/dist/img/Loading.gif" width="70" height="70" /><br></div>
        </div>
        <input type="hidden" id="GetBranchDetails" value="@Url.Action("GetBranchDetails", "Employee")" />
        <input type="hidden" id="ViewMemberShipAttendanceDetails" value="@Url.Action("ViewMemberShipAttendanceDetails", "Membership")" />
    </div>
</div>
<script src="~/js/page.viewMembershipAttendance.js"></script>