
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a href="#" class="h1"><b>Jk </b>Fitness</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
        <form id="forgot" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="UserName" placeholder="UserName">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" id="Request" class="btn btn-primary btn-block">Request new password</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <p class="mt-3 mb-1">
            <a href="@Url.Action("Index", "Login")">Login</a>
        </p>
        <div id="wait" class="loading-gif"><img src="~/dist/img/Loading.gif" width="70" height="70" /><br></div>
    </div>
    <input type="hidden" id="RequestPassword" value="@Url.Action("RequestPassword", "Login")" />
    <input type="hidden" id="LoginPath" value="@Url.Action("Index", "Login")" />
    <!-- /.login-card-body -->
</div>

<script src="~/js/page.forgotPassword.js"></script>